.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input-div {
  text-align: center;
  margin-bottom: 20px;
}

.Display-div {
  text-align: center;
  margin-bottom: 20px;
}

.reset-div {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 25px; 
  /* Add spacing between input and button */
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ol {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

li {
  margin-bottom: 10px;
  display: flex; /* Add flex display for delete button spacing */
  align-items: center; /* Align delete button with text */
}

li button {
  margin-left: 10px;
  padding: auto; /* Add spacing between delete button and text */
}

.done-with {
  margin-top: 20px;
}

.done-with li {
  margin-bottom: 5px;
  color: #888;
  text-decoration: line-through;
  border: black;
  border:solid black;
  border-radius: 5px;
  background-color: #ff7f7f;
  font-size: 20px;
  
}
button {
  padding: 6px 12px; /* Adjust the padding to reduce button size */
  font-size: 14px; /* Adjust the font size to reduce button size */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.add-button{
  margin-left:15px;
  margin-top:10px;
}
.to-do-text{
  color:aqua;
  margin:auto;
}
.input-bar{
  margin-bottom: 20px;
}
.text-box{
  border: black;
  border:solid black;
  border-radius: 5px;
  background-color: #d1ffbd;
}
